<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.netctoss.adminrole.dao.AdminRoleMapper">
  <resultMap id="AdminRoleBaseResultMap" type="com.lanou.netctoss.adminrole.domain.AdminRole">
    <constructor>
      <arg column="admin_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <insert id="insertAdminRole" parameterType="com.lanou.netctoss.adminrole.domain.AdminRole">
    insert into admin_role (admin_id, role_id)
    values (#{adminId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertAdminRoleSelective" parameterType="com.lanou.netctoss.adminrole.domain.AdminRole">
    insert into admin_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>