<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="page" class="com.lanou.crm.paging.domain.Page"/>

    <bean name="pageAction" class="com.lanou.crm.paging.web.action.PageAction">
        <property name="page" ref="page"/>
        <property name="classesService" ref="classesService"/>
        <property name="courseTypeService" ref="courseTypeService"/>
        <property name="staffService" ref="staffService"/>
        <property name="departmentService" ref="departmentService"/>
    </bean>


</beans>